<main>
  <section>
    <h1 class="text-zone">
      <span class="hello-text">Olá! Eu sou o </span>
      <br>
      <span class="name-text">Ramon Silva</span>
      <p class="small-text">Desenvolvedor Front End / Mobile</p>

      <div class="btn-zone">
        <a class="btn" routerLink="/portfolio">Meu Portfólio</a>
      </div>
    </h1>
  </section>

  <section class="footer">
    <ul class="footer-list">
      <li>
        <a routerLink="">
          <i class="fa fa-linkedin fa-2x" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a routerLink="">
          <i class="fa fa-github fa-2x" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a routerLink="">
          <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
  </section>


</main>
