<mat-toolbar color="accent">
    <div class="menu">
        <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
        <mat-icon aria-hidden="false" aria-label="Example home icon">person</mat-icon>
        <mat-icon aria-hidden="false" aria-label="Example home icon">mail</mat-icon>
    </div>

    <div class="person">
        <p>Ramon Silva</p>
        <small>Full Stack Developer / Mobile Developer</small>
    </div>
</mat-toolbar>

<h1>
  {{title}}
</h1>

<button routerLink="/about">about</button>
<button routerLink="/contact">contact</button>
<button routerLink="">Home</button>

<router-outlet></router-outlet>
