<mat-toolbar class="toolbar">
  <div class="logo">
    <a routerLink="">
      <img class="img-logo" src="/assets/nome.png" alt="Ramon">
    </a>
  </div>

    <ul class="toolbar-menu">
      <li>
        <a routerLink=""> Home </a>
      </li>
      <li>
        <a routerLink="/about"> Sobre </a>
      </li>
      <li>
        <a routerLink=""> Skills </a>
      </li>
      <li>
        <a routerLink="/portfolio"> Portfólio </a>
      </li>
      <li>
        <a routerLink="/contact"> Contato </a>
      </li>
    </ul>
</mat-toolbar>
