
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;

@include mat.core();

$portfolio-primary: mat.define-palette(mat.$gray-palette, 900);
$portfolio-accent: mat.define-palette(mat.$deep_purple-palette, 800);
$portfolio-warn: mat.define-palette(mat.$red-palette, 900);

$portfolio-theme: mat.define-dark-theme((
  color: (
    primary: $portfolio-primary,
    accent: $portfolio-accent,
    warn: $portfolio-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($portfolio-theme);

/* You can add global styles to this file, and also import other style files */

:root {
  --backgroung-second: #1F2235;
  --backgroung: #24263B;
  --color-first: #FFFFFF;
  --color-second: #CBCBCB;
  --color-details: #959FFF;
}

html, body {
  /* height: 100%; */
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: var(--color-first);
  background-color: var(--backgroung);
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

