<main>
  <section class="title">
    <h1 class="about-title">Quem sou?</h1>
  </section>

  <section class="text">
    <!-- <p>
      Iniciei o trabalho com tecnologia no ano de 2019, ainda na graduação. Minhas primeiras oportunidades práticas
      foram auxiliando criancas de 1 a 5 ano na introducao da disciplina de Informatica e posteriormente, como auxiliar
      de T.I na junta
      comercial de Parnaiba -PI. A primeira oportunidade de trabalhar em equipe e desenvolvendo, foi usando a linguagem
      Delphi e usando o banco
      de dados Firebird. Depois de um ano trabalhando com automação comercial e serviços Web, prestei serviço
      terceirizado para a Uniasselvi, fazendo parte da equipe de desenvolvimento mobile. O foco principal da equipe é
      atuar no aplicativo LeoApp, disponível para iOS e Android, com aproximadamente 430 mil instalações em
      dispositivos, expandindo meu conhecimento em HTML5, CSS3, JavaScript, TypeScript, Angular, IONIC, Git e usando
      banco de dados Oracle. Além das ferramentas citadas acima, possuo conhecimento em Java, Bootstrap, Primefaces,
      Gitflow e Métodos Àgeis. Atualmente estou estudando arquitetura de microsserviços e atuando na migração de alguns
      módulos do Bradesco ultilizando o framework Single-Spa com Angular.
    </p> -->
  </section>
</main>


<!-- logo em seguida comecei a trabalhar como freelancer e após um período, comecei a criar e fazer
manutenções em sites. -->
